.cardHeader{
    background-color: rgb(10, 125, 170);
    color:white;
    font-weight: lighter;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
}

.stars {
    font-size: 1.5rem;
    font-style: normal;
    position: relative;
    top: -.1em;
 }
 
 .stars i {
    font-style: normal;
 }
 
 .full-star:after {
    content: "\2605";
 }
 
 .empty-star:after {
    content: "\2606";
 }

 .top {
    background-color: rgb(245, 201, 56);
    font-weight: lighter;
    color:white;
    padding-left:20px;
    padding-bottom:10px;
 }